@media screen and (min-width: 768px) {
  .half-form {
    width: 50%;
  }
}
@media screen and (min-width: 989px) {
  .hidden {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
